.container {
    position: relative;
    background-color: black;
    color: white;
}
.cell {
    color: white;
    overflow: hidden;
    float: left;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 2px;
    text-align: center;
    -webkit-box-shadow: inset #22afca 0 0 20px;
}
.cellSelected {
    background : blue;
}
.detail {
    float: left;
}
.separator {
    float: left;
}

/************************/
/******* app cell *******/
/************************/
.app_cell_int1 {
    position: relative;
}
.app_cell_intbg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0.2;
}
.app_cell_int2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
.app_cell_text {
    padding-top: 20px;
    font-size: 3.5em;
    line-height: 2;
    text-align: center;
}

/************************/
/****  app cell ICE  ****/
/************************/
.app_cell_extx_ice {
    -webkit-box-shadow: #22afca 0 0 30px;
}
.app_cell_extx_ice:hover {
    -webkit-box-shadow: #22afca 0 0 50px;
    cursor: pointer;
}
.app_cell_ext_ice {
    border: 1px solid #22afca;
    -webkit-box-shadow: #22afca 0 0 40px;
}
.app_cell_med_ice {
    border: 3px solid white;
    -webkit-box-shadow: #22afca 0 0 20px;
}
.app_cell_int_ice {
    border: 1px solid #22afca;
    -webkit-box-shadow: inset #22afca 0 0 40px;
}
.app_cell_intx_ice {
    -webkit-box-shadow: inset #22afca 0 0 30px;
    /* text */
    color: white;
    text-shadow: 0 0 10px white;
}
.app_cell_intx_ice:hover {
    -webkit-box-shadow: inset #22afca 0 0 40px;
}
.app_cell_intx_ice:active {
    -webkit-box-shadow: inset #22afca 0 0 40px;
}
.app_cell_int2_ice {
}
.app_cell_int2_ice:active { /* http://www.color-hex.com/color/22afca */
    background-color: #115765;
}
.app_cell_intbg_ice {
    background-color: #22afca;
}

/************************/
/****  app cell FIRE  ***/
/************************/
.app_cell_extx_fire {
    -webkit-box-shadow: #fe601e 0 0 30px;
}
.app_cell_extx_fire:hover {
    -webkit-box-shadow: #fe601e 0 0 50px;
    cursor: pointer;
}
.app_cell_ext_fire {
    border: 1px solid fe601e;
    -webkit-box-shadow: fe601e 0 0 40px;
}
.app_cell_med_fire {
    border: 3px solid #eecd30;
    -webkit-box-shadow: #fe601e 0 0 20px;
}
.app_cell_int_fire {
    border: 1px solid #fe601e;
    -webkit-box-shadow: inset #fe601e 0 0 40px;
}
.app_cell_intx_fire {
    -webkit-box-shadow: inset #fe601e 0 0 30px;
    /* text */
    color: white;
    text-shadow: 0 0 10px white;
}
.app_cell_intx_fire:hover {
    -webkit-box-shadow: inset #fe601e 0 0 40px;
}
.app_cell_intx_fire:active {
    -webkit-box-shadow: inset #fe601e 0 0 40px;
}
.app_cell_int2_fire {
}
.app_cell_int2_fire:active { /* http://www.color-hex.com/color/fe601e */
    background-color: #7f300f;
}
.app_cell_intbg_fire {
    background-color: #fe601e;
}


