html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, 
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, 
hgroup, menu, nav, section, time, mark, audio, video {

    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    margin: 0;    
    padding: 0;    

}

a, a:visited {
    color: inherit !important;
    text-decoration: none !important;
}

body {
    margin: 0 !important;
    background-color: #C3C3C3 !important;
    z-index: 0;
    position: relative;
}

body, input, select, textarea {
    line-height: 1;
    font: 14px/18px "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #444;
}

.btnText {
    line-height: 1;
    padding-left: 5px;
}
